.menu
  .first-level
    .interactable
      .logo.float-left
        %a{href: "/asset_classes/cash"}
          %img{src: "/images/nav/home.svg"}
      .nav.float-left
        .l1-item.float-left{class: ('selected' if page_classes.include?("risk"))}
          = link_to "RISK", "/risk/profiles"
        .l1-item.float-left{class: ('selected' if page_classes.include?("asset_classes"))}
          = link_to "ASSET CLASSES", "/asset_classes/cash"
        .l1-item.float-left{class: ('selected' if page_classes.include?("managed_funds"))}
          = link_to "MANAGED FUNDS", "/managed_funds/what"
  .second-level{class: ('hide' if page_classes.include?("managed_funds"))}
    .interactable
      .nav
        - if page_classes.include?("asset_classes")
          = secondary_asset_classes_menu
        - else
          = secondary_risk_menu
