%div.top.grid-12.no-gutter-left
  %div.logo.grid-3
    %a.grid-2{href: "/"}
      %img{src: "/images/home.svg"}
  %div.nav.grid-9
    #l1.grid-12
      .l1-item.grid-1{class: ('selected' if page_classes.include?("risk"))}
        = link_to "RISK", "/risk"
      .l1-item.grid-3{class: ('selected' if page_classes.include?("asset_classes"))}
        = link_to "ASSET CLASSES", "/asset_classes/cash"
      .l1-item.grid-3{class: ('selected' if page_classes.include?("managed_funds"))}
        = link_to "MANAGED FUNDS", "/managed_funds"
.sub-menu.grid-12.no-gutter-left{class: ('hide' if !page_classes.include?("asset_classes"))}
  .nav.grid-10.prefix-2
    #l2
      .l2-item.grid-2{class: ('selected' if page_classes.include?("asset_classes_cash"))}
        = link_to "Cash", "/asset_classes/cash"
      .l2-item.grid-2{class: ('selected' if page_classes.include?('asset_classes_fixed_income'))}
        = link_to "Fixed Income", "/asset_classes/fixed_income"
      .l2-item.grid-2{class: ('selected' if page_classes.include?('asset_classes_property'))}
        = link_to "Property", "/asset_classes/property"
      .l2-item.grid-2{class: ('selected' if page_classes.include?('asset_classes_shares'))}
        = link_to "Shares", "/asset_classes/shares"
      .l2-item.grid-2.no-border{class: ('selected' if page_classes.include?('asset_classes_performance'))}
        = link_to "Performance", "/asset_classes/performance"
  .nav.pointer.grid-10.prefix-2
    .grid-2{class: ('hide' if !page_classes.include?("asset_classes_cash"))}
      %img.centered{src: "/images/nav/pointer.svg"}
    .grid-2.prefix-2{class: ('hide' if !page_classes.include?("asset_classes_fixed_income"))}
      %img.centered{src: "/images/nav/pointer.svg"}
    .grid-2.prefix-4{class: ('hide' if !page_classes.include?("asset_classes_property"))}
      %img.centered{src: "/images/nav/pointer.svg"}
    .grid-2.prefix-6{class: ('hide' if !page_classes.include?("asset_classes_shares"))}
      %img.centered{src: "/images/nav/pointer.svg"}
    .grid-2.prefix-6{class: ('hide' if !page_classes.include?("asset_classes_performance"))}
      %img.centered{src: "/images/nav/pointer.svg"}
