.menu
  .first-level
    .interactable
      .logo.float-left
        %a{href: "/asset_classes/cash"}
          %img{src: "/images/nav/home.svg"}
      .nav.float-left
        -#
          .l1-item.float-left{class: ('selected' if page_classes.include?("risk"))}
            = link_to "RISK", "/risk"
        .l1-item.float-left{class: ('selected' if page_classes.include?("asset_classes"))}
          = link_to "ASSET CLASSES", "/asset_classes/cash"
        -#
          .l1-item.float-left{class: ('selected' if page_classes.include?("managed_funds"))}
            = link_to "MANAGED FUNDS", "/managed_funds"
  .second-level{class: ('hide' if !page_classes.include?("asset_classes"))}
    .interactable
      .nav.float-left
        .l2-item.float-left{class: ('selected' if page_classes.include?("asset_classes_cash"))}
          = secondary_menu_item "Cash", "/asset_classes/cash"
        .l2-divider.float-left
        .l2-item.float-left{class: ('selected' if page_classes.include?('asset_classes_fixed_income'))}
          = secondary_menu_item "Fixed Income", "/asset_classes/fixed_income"
        .l2-divider.float-left
        .l2-item.float-left{class: ('selected' if page_classes.include?('asset_classes_property'))}
          = secondary_menu_item "Property", "/asset_classes/property"
        .l2-divider.float-left
        .l2-item.float-left{class: ('selected' if page_classes.include?('asset_classes_shares'))}
          = secondary_menu_item "Shares", "/asset_classes/shares"
        -#
          .l2-divider.float-left
          .l2-item.float-left.no-border{class: ('selected' if page_classes.include?('asset_classes_performance'))}
            = secondary_menu_item "Performance", "/asset_classes/performance"
