.menu
  .first-level.grid-12
    .interactable
      .logo.float-left
        %a{href: "/"}
          %img{src: "/images/nav/home.svg"}
      .grid-12.nav
        .grid-tablet-2.l1-item{class: ('selected' if page_classes.include?("risk"))}
          = link_to "RISK", "/risk/profiles"
        .grid-tablet-2.l1-item{class: ('selected' if page_classes.include?("asset_classes"))}
          = link_to "ASSET CLASSES", "/asset_classes/cash"
        .grid-tablet-2.l1-item{class: ('selected' if page_classes.include?("managed_funds"))}
          = link_to "MANAGED FUNDS", "/managed_funds"
        .grid-tablet-2.l1-item{class: ('selected' if super_and_retirement?)}
          = link_to "SUPER & RETIREMENT", "/super_retirement/super"
        .grid-tablet-2.l1-item{class: ('selected' if page_classes.include?("supporting_content"))}
          = link_to "SUPPORTING CONTENT", "/supporting_content"
  .second-level.grid-12{class: ('hide' if !asset_classes? && !super_and_retirement?)}
    .interactable
      .nav
        = secondary_menu