%div.grid-12.basics.no-gutter-left.no-gutter-right
  %div.grid-12.title.cash
    %p= "How investing in cash works"
  %div.grid-1.previous
  %div.grid-10.explaination
    %div.grid-12.rating
      %ul.grid-2.push-4.safety.grid-tablet-3.push-tablet-3
        %li.description= "Safety"
        %li#rating-enabled
        %li#rating-enabled
        %li#rating-enabled
        %li#rating-enabled
        %li#rating-disabled
      %ul.grid-2.push-4.growth.grid-tablet-3.push-tablet-3
        %li.description= "Growth"
        %li#rating-enabled
        %li#rating-disabled
        %li#rating-disabled
        %li#rating-disabled
        %li#rating-disabled
    %div.grid-12.steps
      %div.grid-4
        .grid-1.push-5.no-gutter-left.number= "1"
        .grid-12.st1
          %p= "Your money in the bank"
        %img.grid-12.img{src: "/images/basics/cash/1.svg"}
        .grid-12.st2
          %p= "In the form of a term deposit"
      %div.grid-4
        .grid-1.push-5.no-gutter-left.number= "2"
        .grid-12.st1
          %p= "The bank invests the money in things like overseas investments"
        %img.grid-12.img{src: "/images/basics/cash/2.svg"}
      %div.grid-4
        .grid-1.push-5.no-gutter-left.number= "3"
        .grid-12.st1
          %p= "You recieve a return in the form of a periodic payment"
        %img.grid-12.img{src: "/images/basics/cash/3.svg"}
        .grid-12.st2
          %p= "plus you recieve your initial deposit at the end of the term"
  %div.grid-1.next
